* {
  outline: none;
  border: none;
}

#window {
  background: __bg-0__;
}

#input {
  color: __fg-2__;
  background: __bg-1__;
  padding: 1rem;
  margin: 1rem;
}

#input:focus {
  color: __fg-0__;
}

#inner-box {
  padding: 1rem;
}

#entry {
  color: __fg-1__;
  margin: .5rem 0;
}

#entry:selected {
  color: __fg-0__;
  background: __bg-1__;
}

#img {
  margin: .5rem 1rem;
}
