window#waybar {
  font-family: 'Victor Mono', monospace;
  font-weight: 600;
  background: none;
}

#tray { padding-right: 12px; }

#workspaces button { color: __fg-0__; }
#workspaces button:hover { color: __main-0__; }
#workspaces button, #workspaces button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0 4px;
  margin: 0;
  transition: color 150ms ease-in-out;
}

#tray, #clock {
  color: __fg-2__;
  background: __bg-0__;
  padding: 0 12px;
}

#window, #workspaces, #battery, #network {
  background: __bg-2__;
  padding: 0 12px;
}

#custom-left-dark, #custom-right-dark { color: __bg-0__; background: __bg-2__; font-size: 20px; }
#custom-left-light, #custom-right-light { color: __bg-2__; font-size: 20px; }
