window#waybar {
  font-family: 'Victor Mono', monospace;
  font-weight: 600;
  background: none;
}

.modules-left, .modules-right { background-color: __bg-0__; }
.modules-center { background-color: __bg-2__; }
.modules-left, .modules-center, .modules-right {
  background-color: __bg-0__;
  padding: 0 10px;
}

#tray {
  margin-right: 12px;
}

#window {
  color: __fg-2__;
  font-style: italic;
}

#tags button { color: __fg-0__; }
#tags button:hover { color: __main-0__; }
#tags button, #tags button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 0;
  margin: 0 4px;
  transition: color 150ms ease-in-out;
}

#clock {
  color: __fg-2__;
}
