* {
  outline: none;
  border: none;
  border-radius: 0;
}

window {
  background-color: __bg-0__;
  font-family: 'Victor Mono', monospace;
}

#input {
  color: __fg-2__;
  background-color: __bg-2__;
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
}

#input:focus {
  color: __fg-0__;
}

#inner-box {
  font-size: 16px;
}

#entry {
  color: __fg-2__;
  font-weight: 600;
  padding: 8px 16px;
}

#entry:selected {
  color: __fg-0__;
  background-color: __bg-1__;
}
