$bg-1: #111827;
$bg-2: #374151;

* {
  all: unset;
  font-family: 'Roboto', monospace;
}

.workspaces {
  padding: 4px 20px;
  background: $bg-1;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;

  button {
    margin: 0 2px;
  }
}

.track {
  color: $bg-1;
}

.sidestuff {
  padding: 4px 20px;
  background: $bg-1;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

scale trough {
  background-color: $bg-2;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  highlight {
    border-radius: 50px;
    background-color: #6366f1;
  }
}
