* {
  all: unset;
  font-family: 'Roboto', monospace;
}

.workspaces {
  padding: 4px 20px;
  background: __bg-1__;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;

  button {
    margin: 0 2px;
  }
}

.track {
  color: __bg-1__;
}

.sidestuff {
  padding: 4px 20px;
  background: __bg-1__;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

scale trough {
  background-color: __bg-2__;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  highlight {
    border-radius: 50px;
    background-color: __main-1__;
  }
}
